//
// Left side navigation
//
.sm-sidebar {
    position: sticky;
    height: subtract(100vh, 4rem);
    border-right: 1px solid #e5e5e5;
    order: 0;
    top: 4rem;
    z-index: 1000;
}

.sm-sidenav {
    display: block;
    list-style: none;
    padding-left: 0;
}
.sm-sidenav.nav {
    height: subtract(100vh, 4rem);
    overflow: scroll;
}
.sm-sidenav.nav > li > a {
    display: block;
    padding: .25rem 1.5rem;
    color: rgba(0, 0, 0, 0.65);
    font-size: 0.9rem;
}
.sm-sidenav.nav > li > a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
}
.sm-sidenav.nav > li.active {
    background-color: #e5e5e5;
}
.sm-sidenav.nav > li.active > a {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
}

//
// G-code
//
.gcode-parameters.table td p {
    margin-bottom: 0;
}
.gcode-parameter-values p {
    display: inline;
}
.gcode-examples pre {
    background: #e5e5e5;
    padding: 1rem;
}