<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}" />
</head>

<body role="document">
    <!-- header -->
    {% include header.html %}

    {{ content }}
    <!-- footer -->
</body>

</html>